[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
"psycopg2-binary" = "*"
pylint-django = "*"
Django = "*"
Pillow = "*"
"psycopg2" = "*"

[dev-packages]
"pep8" = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
